.footer {
  color: #CECECE;
  background: #6A6A6A;
  padding: 5.2rem 0 3.2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__column {
    padding-right: 6rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 2rem;
    margin-bottom: 2.7rem;
  }

  &__list {
    &_marker {
      .footer__item {
        padding-left: 1.5rem;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 3px;
          left: 0;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #CECECE;
        }
      }
    }
  }

  &__item {
    line-height: 189.9%;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: flex-start;
    }
  }

  &__svg {
    width: 2rem;
    margin-right: 1.5rem;
    margin-top: 2px;
  }

  &-bottom {
    border-top: 1px solid #CECECE;
    margin-top: 2.4rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;

    &__links {
      display: flex;
    }

    &__link {
      margin-right: 3.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: $medium-tablet) {
  .footer {
    &__column {
      padding-right: 2rem;

      &:last-child {
        padding-right: 0;
      }
    }

    &__item {
      font-size: 1.4rem;

      br {
        display: none;
      }
    }

    &-bottom {
      margin-top: 2.4rem;
      padding-top: 1.2rem;
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: $small-tablet) {
  .footer {
    padding: 3rem 0 1.2rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__column {
      padding: 0 5rem 2rem 0;

      &:last-child {
        padding-right: 0;
      }
    }

    &-bottom {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: $large-mobile) {
  .footer {
    &__item {
      font-size: 1.2rem;

      br {
        display: block;
      }
    }

    &__subtitle {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 100%;
      text-transform: uppercase;
      width: 100%;
      border-bottom: 1px solid #CECECE;
      padding-bottom: 1rem;
      margin-bottom: 1.2rem;
    }
  }
}

@media only screen and (max-width: $small-mobile) {
  .footer {


    &__column {
      padding-right: 2rem;

      &:last-child {
        padding-right: 0;
      }
    }

    &__svg {
      width: 1.5rem;
      margin-right: 0.8rem;
    }

    &__item {
      font-size: 1.2rem;

      br {
        display: block;
      }
    }

    &-bottom {
      flex-direction: column-reverse;

      &__text {
        margin-top: .6rem;
        text-align: center;
      }
    }
  }
}